<button (click)="changeTrainingPlan()" class="btnLittle"> Anderer Plan </button>

<ng-container *ngIf="allTainingPlans">
    <table class="entrie">
    <ng-container *ngFor="let plan of allTainingPlans">
        <tr>
            <td>{{plan}}</td>
            <td><button class="btnMini2" (click)="aktivatePlan(plan)">aktivieren</button></td>
        </tr>
    </ng-container>
    </table>
</ng-container>

<p><strong>
    {{getTrainingName()}}
</strong></p>

<ng-container *ngFor="let element of training.plan">
    <table class="entrie">
        <tr class="tableHeader">
            <td class="w30">{{element.shortcut}}</td>
            <td>{{element.name}}</td>
        </tr>
        <tr>
            <td>{{getTrainingType(element)}}: </td>
            <td>{{element.value}} </td>
        </tr>
        <tr>
            <td>Einstellung: </td>
            <td>{{element.settings}} </td>
        </tr>
        <ng-container *ngIf="element.note">
            <tr>
                <td>Notizen: </td>
                <td>{{element.note}} </td>
            </tr>
        </ng-container>
    </table><br>
</ng-container>


<button (click)="handleNew()" class="btnLittle"> Plan Ändern</button>


<button (click)="handleNew()" class="btnLittle"> Neuer Plan </button>