<div id="content">
    <div id="bottom">
        <strong (click)="handleMenu()" [firstWordRed]="header"></strong>
    </div>

    <div id="middle">
    
        <ng-container *ngIf="header==='Hallo Welt'">
            <button (click)="handleStart()"> Training starten </button><br>
            <button (click)="handlePlan()"> Trainingsplan </button><br>
            <button (click)="handleStrength()"> Kraft-Geräte </button><br>
            <button (click)="handleStamina()"> Ausdauer-Geräte </button><br>
            <button (click)="handleProfil()"> Eigene Daten </button><br>
        </ng-container>

        <ng-container *ngIf="header==='Training läuft'">
            <app-start-training></app-start-training>
        </ng-container>

        <ng-container *ngIf="header==='Training planen'">
            <app-plan-training></app-plan-training>
        </ng-container>

        <ng-container *ngIf="header==='Geräte Liste'">
            <app-strength></app-strength>
        </ng-container>

        <ng-container *ngIf="header==='Ausdauer Liste'">
            <app-stamina></app-stamina>
        </ng-container>

        <ng-container *ngIf="header==='Deine Daten'">
            <app-profil></app-profil>
        </ng-container>

    </div>
    
    <div id="foot">Berühre die Überschrift um zum Startmenü zu gelangen</div>    
</div>
