/* You can add global styles to this file, and also import other style files */
body{
    text-align: center;
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: gray;
}

.header1{
    text-align: center;
    font-size: 8vw ;
}

#content {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    align-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}

#foot{
    background-color: gainsboro;
    width: 100%;
    padding: 5%;
    margin: 0;
    font-size: 3vw ;
}

#bottom {
    background-color: gainsboro;
    width: 100%;
    padding: 5%;
    margin: 0;
    font-size: 8vw ;
}

#middle {
    width: 100%;
    height: 10%;
    margin: 0;
    padding: 3%;
    padding-bottom: 8%;
    border-top: 8px solid darkred;
}

h1 {
    font-size: 10vw ;
}

button {
    background-image: linear-gradient(to right, white 0%, gainsboro 100%);
    width: 90%;
    height: 10%;
    margin: 5%;
    padding: 3%;
    font-size: 8vw;
    border: 8px outset darkred;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: black;
} 

button:active {
    background-color: white;
    border: 8px inset darkred;
}

.btnLittle {
    background-image: linear-gradient(to right, white 0%, gainsboro 100%);
    width: 90%;
    height: 7%;
    margin: 2%;
    padding: 2%;
    font-size: 6vw;
    border: 5px outset darkred;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: black;
}
.btnLittle:active {
    background-color: white;
    border: 5px inset darkred;
}

.btnMiniToDo {
    background-image: linear-gradient(to right, white 0%, gainsboro 100%);
    float: left;
    width: 21%;
    height: 7%;
    margin: 2%;
    padding: 2%;
    font-size: 6vw;
    border: 5px outset gray;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: black;
}
.btnMiniToDo:active {
    background-color: white;
    border: 5px inset gray;
}

.btnMiniDone {
    background-image: linear-gradient(to right, rgb(86, 172, 90) 0%, rgb(66, 143, 69) 100%);
    float: left;
    width: 21%;
    height: 7%;
    margin: 2%;
    padding: 2%;
    font-size: 6vw;
    border: 5px outset gray;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: black;
}
.btnMiniDone:active {
    background-color: white;
    border: 5px inset gray;
}


.entrie {
    border: 3px solid darkred;
    text-align: left;
    width: 100%;
    color: black;
    padding: 1%;
}

.tableHeader {
    background-color: gainsboro;
    font-size: larger;
    color: black;
}

td {
    padding: 1.5%;
}

.w30 {
    width: 30%;
}