<button (click)="handleTimer()" class="btnLittle">
    {{!(timer$ | async) ? "Pause starten" : "Pause beenden"}}
</button>

<h1 class="header1" *ngIf="!(timer$ | async)">keine Pause</h1>

<h1 class="header1" *ngIf="(timer$ | async)">{{(timer$ | async ) + " Sekunden"}}</h1>

<button (click)="handleTrainingStart()" class="btnLittle">
    Training starten
</button><br><br>

<table class="entrie">
    <tr class="tableHeader">
        <td colspan="2">{{name}}</td>
    </tr>
    <tr>
        <td>Häufigkeit: </td>
        <td>{{frequency}}</td>
    </tr>
    <tr>
        <td>Bewegungstempo: </td>
        <td>{{speed}}</td>
    </tr>
</table><br>

<!-- --------------------------------------------------------------------------------------- -->

<ng-container *ngFor="let btn of plan">
    <button class="btnMiniToDo">{{btn.shortcut}}</button>
</ng-container>

